body{
	background:#9AD1DE;
	margin: 0px;
	padding: 0px;  
	font-family: 'Abel', sans-serif;
    background-size: cover;
}
form{
	background-image: linear-gradient(
       	200deg, 
       	rgba(4, 97, 117, 0.82) 30%, 
       	rgba(0, 0, 0, 0.85) 99%);
    color: #fff;
    margin-top: 0;
    overflow: auto;
    padding: 30px 10px;
    width: 768px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}
#main-header {
background: #333;
color: white;
height: 90px;
}
#main-header a {
color: white;
}
#header {
float: left;
padding: 15px 0 0 20px;
text-decoration: none;
}
#header:hover {
color: #0b76a6;
}
#header .site-name {
display: block;
font-weight: 700;
font-size: 2em;
}
#header .site-desc {
display: block;
font-weight: 300;
font-size: 0.8em;
color: #999;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
footer{
	    position: fixed;
    bottom: 0px;
    width: 100%;
}
.derechos {
    background: rgba(0, 0, 0, 0.72);
    padding: 15px 0px;
    color: #fff;
    text-align: center;
    font-size: 1em;
}
.derechos a {
    color: #0ad0ff;
}
@media (max-width: 768px){
.content-form {
        width: 100%; 
            border-radius: 0px;
}
.width-6 {
    width: 100%;
}
.btn {
    
        width: 100%;
}
 
